:root {
    --color1: #634F2C;
    --color2: #B4A385;
    --color3: #E5E5E5;
    /*border color*/
    --color4: #E4B564;
    --color5: #635A4A;
    --color6: #B08C4D;
    --color7: #0A0909;
    --color8: #242424;
    --color9: #1F1F1F;
    --color10: #E8D2ABC2;
    --color11: #0E0E0E;
    --color12: #FFFFFF;
    -- color13: #171717;
    --color14: #E8D2ABC2;
    --color15: #000000;
}

.html {
    height: 4000px;
    width: 1440px;

}

.header {
    display: block;
    height: 87px;

}

.logo {
    margin-top: 36px;
    margin-left: 80px;
    background-color: ;
}

.call {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--color4);
    text-decoration: none;
    border: 1px solid var(--color4);
    padding: 10px;
    margin-left: 880px;
}

.title {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-top: 128px;
    margin-left: 80px;
    color: var(--color12)
}

.descreption {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-left: 80px;
    margin-top: 41px;
    margin-bottom: 41px;
    width: 1182px;
    color: var(--color12);
}

.text {
    display: grid;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    align-content: center;
    color: #FFFFFF;
}

.items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 2fr);
    row-gap: 27px;
    column-gap: 35px;
    margin-left: 80px;
    text-align: center;
    align-content: center;
}

.item1 {
    display: flex;
    justify-content: center;
    color: var(--color12);
    background-color: var(--color1);
    grid-column: 1 / 3;
    width: 400px;
    height: 468px;
}

.item2 {
    display: flex;
    justify-content: center;
    color: var(--color12);
    background-color: var(--color2);
    grid-column: 3 / 5;
    width: 400px;
    height: 468px;
}

.item3 {
    display: flex;
    justify-content: center;
    color: var(--color12);
    background-color: var(--color4);
    grid-column: 5 / 6;
    width: 400px;
    height: 468px;
}

.item4 {
    display: flex;
    justify-content: center;
    color: var(--color12);
    background-color: var(--color5);
    grid-column: -7 / -4;
    height: 468px;
    width: 620px;
}

.item5 {
    display: flex;
    justify-content: center;
    color: var(--color12);
    background-color: var(--color6);
    grid-column: -4/ -1;
    height: 468px;
    width: 620px;
}

.subtitle {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-bottom: 64px;
    margin-top: 128px;
    margin-left: 80px;
    color: #FFFFFF;
}

.items-machine {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 3fr) 1fr 1fr repeat(1, 3fr);
    justify-items: center;
    padding: 70px;
}

.item-machine1 {
    display: flex;
    justify-content: center;
    color: var(--color12);
    background: var(--color11);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 313px;
    width: 400px;
}

.item-machine2 {
    display: flex;
    justify-content: center;
    color: var(--color12);
    background: var(--color8);
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    height: 439px;
    width: 400px;
}

.item-machine3 {
    display: flex;
    justify-content: center;
    color: var(--color12);
    background: var(--color9);
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    height: 255px;
    width: 400px;
}

.item-machine4 {
    display: flex;
    justify-content: center;
    color: var(--color12);
    background: var(--color9);
    grid-column: 1 / 2;
    grid-row: 3 / 8;
    height: 560px;
    width: 400px;
}

.item-machine5 {
    display: flex;
    justify-content: center;
    color: var(--color15);
    background: var(--color4);
    grid-column: 2 / 3;
    grid-row: 4 / 8;
    height: 405px;
    width: 400px;
    margin-top: 50px;
}

.item-machine6 {
    display: flex;
    justify-content: center;
    color: var(--color12);
    background: var(--color11);
    grid-column: 3 / 4;
    grid-row: 3 / 5;
    height: 313px;
    width: 400px;
    margin-top: -50px;
}

.item-machine7 {
    display: flex;
    justify-content: center;
    color: var(--color12);
    background: var(--color7);
    grid-column: 3 / 4;
    grid-row: 6 / 8;
    height: 277px;
    width: 400px;
    margin-top: -50px;
}

.projects {
    background: var(--color11);
}

.all-projects {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 10px;
    width: 180px;
    text-align: center;
    margin: auto;
    margin-top: -40px;
    transform: translateX(245%);
    color: var(--color4);
    border: 1px solid var(--color4);
    background: var(--color11);

}

.subtitle-projects {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    width: 680px;
    padding-top: 100px;
    margin-top: 180px;
    margin-left: 110px;
    color: #FFFFFF;
    background: var(--color11);

}

.clients {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-items: center;
    margin-bottom: 238px;
    margin-top: 71px;
    justify-content: center;
}

.item-client1 {
    background-color: var(--color1);
    width: 400px;
    height: 391px;
    text-align: center;
}

.item-client2 {
    background-color: var(--color14);
    width: 400px;
    height: 391px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: var(--color12);

}

.item-client3 {
    background-color: var(--color4);
    width: 400px;
    height: 391px;
    text-align: center;
}

.item-client4 {
    background-color: var(--color5);
    width: 400px;
    height: 391px;
    text-align: center;
}

.item-client5 {
    background-color: var(--color6);
    width: 400px;
    height: 391px;
    text-align: center;
}

.item-client6 {
    background-color: var(--color1);
    width: 400px;
    height: 391px;
    text-align: center;
}